.masthead {
  background-size: cover;
  min-height: 60vh;
  position: relative;
  color: white;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

h1 {
  font-size: 2.5rem;
}

.color-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

@media (max-width: 768px) {
  .masthead {
    min-height: 30vh;
  }
  h1 {
    font-size: calc(1.525rem + 3.3vw);
  }
}

.title {
  position: relative;
  font-size: 30px;
  z-index: 1;
  overflow: hidden;
  text-align: center;
}
.title:before,
.title:after {
  position: absolute;
  top: 51%;
  overflow: hidden;
  width: 50%;
  height: 1px;
  content: "\a0";
  background-color: #bac0c9;
}
.title:before {
  margin-left: -52%;
  text-align: right;
}
.title:after {
  margin-left: 2%;
  text-align: right;
}
/* 
.circular {
  border: 1px solid;
  border-radius: 50%;
  width: 200px;
  height: 200px;
} */

.image-fit {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.text-limit {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  -webkit-box-orient: vertical;
}
